<div class="featurette">
  <img class="featurette-image pull-right" src="#">
  <h2 class="featurette-heading">Outdoors</h2>
  <p class="lead">The Best</p>
  <%= link_to "Paddle Boarding/Kayaking", "http://www.yelp.com/biz/franklin-barbecue-austin#query:franklin%27s%20bbq", :target => "_blank" %> </br>A chill, yet lively, activity to get away from the "city" and get some peace and quiet to yourself--or between a few friends. A perfect way to start your day and zen it out. Nameste bitches.
</br>
</br>
  <p class="lead">Next Best Thing</p>  
	  <%= link_to "Barton Springs/Zilker Park", "http://www.yelp.com/biz/the-salt-lick-bbq-driftwood",:target => "_blank" %> </br>A refreshing natural spring that's a 7 minute drive from Downtown, allows for topless tanning, and has a diving board where you can watch the occassional noob eat it. Barton Springs also neighbors Zilker Park, the largest park in Austin where you can find pickup frisbee, soccer, and beach volleyball games on the regular. What else do I have to say?
</br>
</br>
  <p class="lead">Honorary Mentions</p>
    <%= link_to "The Greenbelt", "http://www.yelp.com/biz/rudys-country-store-and-bar-b-q-austin#query:rudy%27s%20bbq", :target => "_blank" %> </br>The Greenbelt is a large park that runs through Austin full of hiking paths, mountain biking trails, and natural bodies of water sprinkled with rope swings. A great alternative to Barton Springs if you want to avoid a crowd.
  </br> 
  </br>
    <%= link_to "Hamilton Pool", "http://www.yelp.com/biz/rudys-country-store-and-bar-b-q-austin#query:rudy%27s%20bbq", :target => "_blank" %> </br>Featured as one of the 50 most beautiful places in the world, Hamilton Pool is a natural spring about 45 minutes south of Austin that gives you the impression of swimming in a half cave.  Just get there before 11am or you might have to wait in a car line to get into the park that gets up to 2 hours long. eeeek!
</br>
</br>
  <h2 class="featurette-heading">Indoors</h2>
  <p class="lead">The Best</p>
  <%= link_to "Alamo Drafthouse", "http://www.yelp.com/biz/torchys-tacos-austin", :target => "_blank" %> </br>An independent theater that shows blockbuster films, host sign-alongs, serves food/beer, and invites commedians to commentate classic movies, this is a quintesential Austin establishment that embraces the city motto of "Keep Austin Weird". If there's any movie you want to watch while you're in Austin, this is the place to do it. 
</br>
</br>
  <p class="lead">Next Best Thing</p>  
	  <%= link_to "Chicken Shit Bingo", "http://www.yelp.com/biz/tacodeli-austin-3", :target =>"_blank" %> </br>If you're in town on a Sunday, grab an early brunch and head over to Ginny's Little Longhorn Saloon for this unique Bingo experience. There are $2 beers and a pen with a bingo board drawn on the floor and chickens let loose. Wherever the chickens poop is the number called out in bingo. It all makes for some entertaining red neck fun.  
</br>
</br>
  <p class="lead">Honorary Mention</p>
    <%= link_to "South Congress", "http://www.yelp.com/biz/juan-in-a-million-austin" , :target => "_blank"%> </br>So this isn't technically "indoors" since it's a street, but this 3 block stretch of road is a must see while you're in Austin. Get a Mexican Vanilla ice cream at Amy's, walk into Uncommon Objects and check out the quirkiest period antiques, get the best gourmet burger north of the Earth's crust at Hopdoddy's, window shop at a plethora of boutique stores, and grab some candy for the road at the #1 ranked candy store in the US, Big Top Candy Shop.
</br>
</br>