<div class="featurette">
  <img class="featurette-image pull-right" src="#">
  <h2 class="featurette-heading">BBQ</h2>
  <p class="lead">The Best</p>
  <%= link_to "Franklin's BBQ", "http://www.yelp.com/biz/franklin-barbecue-austin#query:franklin%27s%20bbq", :target => "_blank" %> </br>So good the line starts at 9am for a restaurant that opens at 11am. Why? Cause they usually run out of food by 1pm.
</br>
</br>
  <p class="lead">Next Best Thing</p>  
	  <%= link_to "Salt Lick", "http://www.yelp.com/biz/the-salt-lick-bbq-driftwood",:target => "_blank" %> </br>Ok, so it's technically about 45mins away from Austin but it's on the list because of the amazing atmosphere and overall experience. Expect about an hour wait, but it's byob with free live music on the lawn so the time goes fast and easy. Best enjoyed with a big group of friends.
</br>
</br>
  <p class="lead">Honorary Mention</p>
    <%= link_to "Rudy's", "http://www.yelp.com/biz/rudys-country-store-and-bar-b-q-austin#query:rudy%27s%20bbq", :target => "_blank" %> </br>Make sure you let them know if it's your first time there. They'll give you an array of free samples to try :)
</br>
</br>
  <h2 class="featurette-heading">Tex-Mex/Mexican</h2>
  <p class="lead">The Best</p>
  <%= link_to "Torchy's Tacos", "http://www.yelp.com/biz/torchys-tacos-austin", :target => "_blank" %> </br>This is not your typical taco. With tacos named Brushfire and the Dirty Sanchez, expect big and unique flavor profiles. Their queso is also pretty legit if that's how you roll. 
</br>
</br>
  <p class="lead">Next Best Thing</p>  
	  <%= link_to "Taco Deli", "http://www.yelp.com/biz/tacodeli-austin-3", :target =>"_blank" %> </br>Some would argue this is actually the best taco joint in town, and if you're into the freshest, guilt free, cuisine, you would agree. Just expect to pay a slight premium for the top notch ingredients, and get there early (they close at 3pm). Oh, and don't try the green sauce if you have an addictive personality. 
</br>
</br>
  <p class="lead">Honorary Mention</p>
    <%= link_to "Juan in a Million", "http://www.yelp.com/biz/juan-in-a-million-austin" , :target => "_blank"%> </br>The best breakfast taco in town when it comes to value. The must try here is the "Don Juan" breakfast taco, which has been featured in Man vs Food. Ingredients include a whole potato, cheese, eggs, flour tortilla, and BACON. Mad props if you can finish more than two. Pro Tip: Give the man standing inside the door (Juan, the owner) a big high five/hug. It's the best high five in town. 
</br>
</br>
  <h2 class="featurette-heading">Wasted Munchies</h2>
  <p class="lead">The Best</p>
  <%= link_to "Chilantros", "http://www.yelp.com/biz/midnight-cowboy-austin", :target => "_blank" %> </br>So good the line starts at 9am for a restaurant that opens at 11am. Why? Cause they usually run out of food by 1pm.
</br>
</br>
  <p class="lead">Next Best Thing</p>  
	  <%= link_to "Kebabelicious", "http://www.yelp.com/biz/the-salt-lick-bbq-driftwood", :target => "_blank" %> </br>Ok, so it's technically about 45mins away from Austin but it's on the list because of the amazing atmosphere and overall experience. Expect about an hour wait, but it's byob with free live music on the lawn so the time goes fast and easy. Best enjoyed with a big group of friends.
</br>
</br>
  <p class="lead">Honorary Mention</p>
    <%= link_to "P-Terry's", "http://www.yelp.com/biz/rudys-country-store-and-bar-b-q-austin#query:rudy%27s%20bbq", :target => "_blank" %> </br>Make sure you let them know if it's your first time there. They'll give you an array of free samples to try :)
</br>
</br>

  <h2 class="featurette-heading">The Finer Thangs</h2>
  <p class="lead">The Best</p>
  <%= link_to "La Condesa", "http://www.yelp.com/biz/midnight-cowboy-austin", :target => "_blank" %> </br>So good the line starts at 9am for a restaurant that opens at 11am. Why? Cause they usually run out of food by 1pm.
</br>
</br>
  <p class="lead">Next Best Thing</p>  
	  <%= link_to "Uchi/Uchiko", "http://www.yelp.com/biz/the-salt-lick-bbq-driftwood", :target => "_blank" %> </br>Ok, so it's technically about 45mins away from Austin but it's on the list because of the amazing atmosphere and overall experience. Expect about an hour wait, but it's byob with free live music on the lawn so the time goes fast and easy. Best enjoyed with a big group of friends.
</br>
</br>
  <p class="lead">Honorary Mention</p>
    <%= link_to "Kome", "http://www.yelp.com/biz/rudys-country-store-and-bar-b-q-austin#query:rudy%27s%20bbq", :target => "_blank" %> </br>Make sure you let them know if it's your first time there. They'll give you an array of free samples to try :)
</br>
</br>
